<body>
    <!-- Main jumbotron for a primary marketing message or call to action -->



    <div class="jumbotron">

      <div class="container">
        <h1>我们不生产奶粉
        我们是奶粉的搬运工</h1>
        <p class="slogan">猛犸母婴代购提供以奶粉代购为主的母婴产品海外直购服务.</p>
        <p><a class="btn btn-primary btn-lg text-center" href="#" role="button" >海外直购 »</a></p>
      </div>



    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>品牌</h2>
          <p>我们开展全球品牌的奶粉代购. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>专业</h2>
          <p>专业的买手，带给你最专业的服务。 </p>

          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>信誉</h2>
          <p>正品保证，健康生活.</p>

          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      </div>
      <hr>

      <div class="container">
        客户回馈
      </div>

      <hr>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>
