<body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>我们不生产奶粉
        我们是奶粉的搬运工</h1>
        <p class="slogan">猛犸母婴代购提供以奶粉代购为主的母婴产品海外直购服务.</p >
        <p><a class="btn btn-primary btn-lg text-center" href="products#index" role="button" >海外直购 »</a ></p >
      </div>
    </div>
<!-- 这里开始是我贴的 -->
    <img src="https://ws2.sinaimg.cn/large/006tNc79ly1fg7dne1svqj313l13ldqy.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws3.sinaimg.cn/large/006tNc79ly1fg7dlbxwidj30gc06p3zm.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws4.sinaimg.cn/large/006tNc79ly1fg7dsakqpzj31kw0l8e3k.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws2.sinaimg.cn/large/006tNc79ly1fg7seisgc8j30b307omx7.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws2.sinaimg.cn/large/006tNc79ly1fg7sp4pyy7j309g09g3yq.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws3.sinaimg.cn/large/006tNc79ly1fg7srjjldpj30bk0bkq3d.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws2.sinaimg.cn/large/006tNc79ly1fg7stvdojwj30ax087acj.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws2.sinaimg.cn/large/006tNc79ly1fg7sv67avyj30b40b4q3d.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws3.sinaimg.cn/large/006tNc79ly1fg7swmkt65g30rs0rswev.gif" width="100" height="100" class="img-rounded">
    <img src="https://ws3.sinaimg.cn/large/006tNc79ly1fg7syl55rhj31kw12xk4t.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws2.sinaimg.cn/large/006tNc79ly1fg7t0a4xk1j308w08wq2t.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws2.sinaimg.cn/large/006tNc79ly1fg7t2jdpqqj30eq09ojsg.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws1.sinaimg.cn/large/006tNc79ly1fg7t5m0nifj306y06ymy5.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws3.sinaimg.cn/large/006tNc79ly1fg7t71c5h8j30p00gogma.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws1.sinaimg.cn/large/006tNc79ly1fg7t9560n3j318u0xggpc.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws4.sinaimg.cn/large/006tNc79ly1fg7td8socaj30b4083aa0.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws4.sinaimg.cn/large/006tNc79ly1fg7tfg7804j308c07k3z7.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws1.sinaimg.cn/large/006tNc79ly1fg7tiqu3ujj30zd0nqq9z.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws2.sinaimg.cn/large/006tNc79ly1fg7tl74rxtj30e20e2gmr.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws2.sinaimg.cn/large/006tNc79ly1fg7tnldr1yj308c08c0sm.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws2.sinaimg.cn/large/006tNc79ly1fg7tpt7uf2j31040llwg0.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws1.sinaimg.cn/large/006tNc79ly1fg7tqual7oj307b07bglt.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws2.sinaimg.cn/large/006tNc79ly1fg7ts5mappj3078055t8n.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws4.sinaimg.cn/large/006tNc79ly1fg7ttn3qofj308c08cdfz.jpg" width="100" height="100" class="img-rounded">
    <img src="https://ws3.sinaimg.cn/large/006tNc79ly1fg7tukkcp5j309a07i75q.jpg" width="100" height="100" class="img-rounded">
<!-- 一直到这里 -->

      <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://c1.staticflickr.com/5/4226/34249319283_79bd6e870a_k.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>优质</h2>
          <p>我们开展全球品牌的奶粉代购。</p >

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://c1.staticflickr.com/5/4197/34249319803_630a01aff8_k.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>专业</h2>
          <p>专业的买手，带给你最专业的服务。</p >

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://c1.staticflickr.com/5/4259/34249320213_2b375d127c_k.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>信誉</h2>
          <p>商品物流状态随时可查。正品保证，健康生活。</p >

        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    </div>





    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>
