<body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>我们不生产奶粉
        我们是奶粉的搬运工</h1>
        <p class="slogan">猛犸母婴代购提供以奶粉代购为主的母婴产品海外直购服务.</p >
        <p><a class="btn btn-primary btn-lg text-center" href="products#index" role="button" >海外直购 »</a ></p >
      </div>
    </div>


      <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://c1.staticflickr.com/5/4226/34249319283_79bd6e870a_k.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>优质</h2>
          <p>我们开展全球品牌的奶粉代购。</p >

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://c1.staticflickr.com/5/4197/34249319803_630a01aff8_k.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>专业</h2>
          <p>专业的买手，带给你最专业的服务。</p >

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://c1.staticflickr.com/5/4259/34249320213_2b375d127c_k.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>信誉</h2>
          <p>商品物流状态随时可查。正品保证，健康生活。</p >

        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    </div>





    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>
