/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import "login.scss";

.html {height: 100%;} //父级元素高度撑满整个屏幕

.body {
  position: relative;
  margin-bottom: 50px; /* 一定要和footer的高度一致 */
  min-height: 100%;
} //父级元素高度撑满整个屏幕

.content {
  min-height: 100%; //让整个容器最低也要占满一屏幕
  padding-bottom: 50px; //这个高度要和页脚高度一致
  margin-bottom: -50px; //大小也要和页脚高度一致
}

        导航栏
********************/

/*******************
        flash
********************/
.customed-flash {
  margin: 50px 0px -20px 0px; // 會將 flash 訊息往上移。
  border-radius: 0;//圆角为0
}
/*******************
        Footer
********************/
.footer {
  position: auto;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* 确保页面滑动的时候，字体不会从上面滑下去 */
  height: 50px; //页脚高度，可随意设置
  background-color: #263238;
  color: #E0E0E0;
}
/*******************
         导航栏下第一区域大图
********************/

.container-fluid .jumbotron{
  padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
  margin: 0px -15px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
  border-radius: 0;//圆角为0
}

.jumbotron {
 background-image:url('carousel1.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 padding-bottom: 600px;
}

.slogan {
 margin-top: 10px;
 margin-bottom: 50px;
 text-align: center;
 color: black;
 top: 12px;
}

.lead {
 margin-bottom: 60px;
 text-align: center;
 color: black;
}

.title {
 background-color: rgba(250, 250, 250, 0.39);//背景颜色含透明度
 max-width: 680px;//最大宽度
 margin-top: 200px;//和顶部拉开距离
 margin-bottom: 0;//这样就可以紧接息面的描述文字
 border-top-right-radius: 3px;//右上角圆边
 border-top-left-radius: 3px;//左上角圆边
}

.jumbotron h1, .jumbotron .h1 {
   text-align: center;//文字左对齐
   color: #222;	//字体颜色
   max-width: auto;//最大宽度
   padding: 200px 0px 0 0;//上50px，左右20px，下0
   font-size: 40px;//字体大小
}

.jumbotron p {
   margin: 0 0 0 0;//上下左右margin为0
   font-size: 26px;//字体大小
   max-width: auto;//最大宽度
   //background-color: rgba(250, 250, 250, 0.39);//背景颜色含透明度
   padding: 0px;//上下左右padding为20px
   text-align:center;//文字左对齐
   color: #222;//字体颜色
   border-bottom-right-radius: 3px;//右下角圆边
   border-bottom-left-radius: 3px;//左下角圆边
}
