<div class="footer">
  <p class="text-center" >Copyright ©2017 猛犸大陆
    <br>Design by
    <a href="http://courses.growthschool.com/courses/jdstore/" target=_new>马泽骅</a> &
    <a href="http://courses.growthschool.com/courses/jdstore/" target=_new>Smilingjun</a>
  </p>
</div>
