<footer class="footer navbar-fixed-bottom">



        <p class="text-center" >Copyright ©2017 JDstore
          <br>Design by
          <a href="http://courses.growthschool.com/courses/jdstore/" target=_new>马泽骅</a> & <a href="http://courses.growthschool.com/courses/jdstore/" target=_new>Smilingjun</a>
        </p>


      </footer>
